@import '../_common.scss';

.container{
  width: 100%;
  padding-top: 20vh;
  h2{
    margin-bottom: 2em;
    @include title;
    text-align: center;
  }
  .moodType{
    width: 50%;
    margin: 3em auto 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    button{
      margin: 0 10px;
      padding: 15px 20px;
      font-size: 1.2em;
      font-family: $nanum;
      color: #666;
      text-align: center;
      text-shadow: 3px 3px 5px rgba(155,155,155,0.5);
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: .5s;
      &:hover{
        color: rgb(32, 192, 101);
        transform: scale(1.1);
      }
    }
  }
  .playlists{
    width: 60%;
    margin: 0 auto 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    a{
      width: 30%;
      li{
        width: 100%;
        figure{
          width: 100%;
          margin: 0;
          img{
            width: 100%;
          }
        }
        p{
          width: 80%;
          @include description;
        }
        p:nth-of-type(1){
          font-size: 1.2em;
          margin: 2em auto 1em;
        }
        p:nth-of-type(2){
          font-size: 1em;
          margin: 0 auto 3em;
        }
      }
    }
  }
}