@import '../_common.scss';

.container{
  width: 100%;
  height: 130vh;
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  iframe{
    width: 100vh;
    height: 60vh;
  }
  article{
    text-align: center;
    width: 40%;
    h2,h3,p{
      font-family: $nanum;
      color: white;
      text-shadow: 3px 3px 5px rgba(155,155,155,0.5);
    }
    h2{
      font-size: 1.5em;
      margin: 5em 0 1em;
    }
    h3{
      font-size: 1.4em;
      margin-bottom: 3em;
    }
    p{
      margin: 0 auto 5em;
      font-size: 1.2em;
    }
  }
}



/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  .container{
    height: 110vh;
    iframe{
      width: 90vw;
      height: 55vw;
    }
    article{
      text-align: center;
      width: 70%;
      h2,h3,p{
        font-family: $nanum;
        color: white;
        text-shadow: 3px 3px 5px rgba(155,155,155,0.5);
      }
      h2{
        font-size: 1.7em;
        margin: 5em 0 1em;
      }
      h3{
        font-size: 1.6em;
        margin-bottom: 3em;
      }
      p{
        margin: 0 auto 5em;
        font-size: 1.4em;
      }
    }
  }
} 

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  .container{
    height: 130vh;
    iframe{
      width: 90vw;
      height: 55vw;
    }
    article{
      text-align: center;
      width: 70%;
      h2,h3,p{
        font-family: $nanum;
        color: white;
        text-shadow: 3px 3px 5px rgba(155,155,155,0.5);
      }
      h2{
        font-size: 1.4em;
        margin: 3em 0 1em;
      }
      h3{
        font-size: 1.4em;
        margin-bottom: 3em;
      }
      p{
        margin: 0 auto 5em;
        font-size: 1.2em;
      }
    }
  }
} 

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  .container{
    height: 110vh;
    iframe{
      width: 90vw;
      height: 55vw;
    }
    article{
      text-align: center;
      width: 70%;
      h2,h3,p{
        font-family: $nanum;
        color: white;
        text-shadow: 3px 3px 5px rgba(155,155,155,0.5);
      }
      h2{
        font-size: 1.4em;
        margin: 3em 0 1em;
      }
      h3{
        font-size: 1.4em;
        margin-bottom: 3em;
      }
      p{
        margin: 0 auto 5em;
        font-size: 1.2em;
      }
    }
  }
}