@import '../_common.scss';

.container{
  width: 100%;
  padding-top: 20vh;
  h2{
    margin-bottom: 2em;
    @include title;
    text-align: center;
  }
  ul{
    width: 60%;
    margin: 0 auto 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    a{
      width: 30%;
      li{
        width: 100%;
        figure{
          width: 100%;
          margin: 0;
          img{
            width: 100%;
          }
        }
        p{
          width: 80%;
          @include description;
        }
        p:nth-of-type(1){
          font-size: 1.2em;
          margin: 2em auto 1em;
        }
        p:nth-of-type(2){
          font-size: 1em;
          margin: 0 auto 3em;
        }
      }
    }
  }
}



/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  .container{
    ul{
      width: 80%;
      a{
        width: 45%;
        li{
          p{
            width: 100%;
          }
        }
      }
    }
  }
} 

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  .container{
    h2{
      margin-top: 1em;
      @include titleTablet;
    }
    ul{
      width: 80%;
      a{
        width: 100%;
        li{
          p{
            width: 100%;
          }
        }
      }
    }
  }
} 

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  .container{
    h2{
      margin-top: 0.5em;
      @include titleTablet;
    }
    ul{
      width: 90%;
      a{
        width: 100%;
        li{
          p{
            width: 100%;
          }
        }
      }
    }
  }
}
