@import '../_common.scss';

.visual{
  width: 100%;
  height: 100vh;
  position: relative;
  figure{
    width: 60vw;
    height: 38vw;
    margin: 17vh auto;
    overflow: hidden;
    position: relative;
    img{
      width: 100%;
      position: absolute;
      left: 0; top: 0;
    }
    .visual2{
      animation: visualAni1 3s infinite linear;
      mix-blend-mode: saturation;
    }
  }
  .textBox{
    width: 100%;
    height: 3em;
    overflow: hidden;
    margin: auto;
    position: absolute;
    left: 0; right: 0;
    top: 18vw;
    p{
      padding: 0.5em 0;
      text-align: center;
      font-size: 2em;
      font-family: $nanum;
      font-weight: 800;
      animation: textAni 30s infinite linear;
      color: rgba(34, 102, 99, 0.5);
    }
  }
}

@keyframes visualAni1 {
  2%{transform: translate(0, 0); opacity: 0;}
  3%{transform: translate(20px, -10px); opacity: 1;}
  4%{transform: translate(-20px, 10px); opacity: 1;}
  5%{transform: translate(0, 0); opacity: 0;}
  49%{transform: translate(0, 0); opacity: 0;}
  53%{transform: translate(40px, -20px); opacity: 1;}
  56%{transform: translate(-40px, 20px); opacity: 1;}
  59%{transform: translate(0, 0); opacity: 0;}
}

@keyframes textAni {
  0%{transform: translateY(0);}
  9%{transform: translateY(0);}
  10%{transform: translateY(-2.5em);}
  19%{transform: translateY(-2.5em);}
  20%{transform: translateY(-4.5em);}
  29%{transform: translateY(-4.5em);}
  30%{transform: translateY(-6.5em);}
  39%{transform: translateY(-6.5em);}
  40%{transform: translateY(-8.5em);}
  49%{transform: translateY(-8.5em);}
  50%{transform: translateY(-10.5em);}
  59%{transform: translateY(-10.5em);}
  60%{transform: translateY(-8.5em);}
  69%{transform: translateY(-8.5em);}
  70%{transform: translateY(-6.5em);}
  79%{transform: translateY(-6.5em);}
  80%{transform: translateY(-4.5em);}
  89%{transform: translateY(-4.5em);}
  90%{transform: translateY(-2.5em);}
  99%{transform: translateY(-2.5em);}
  100%{transform: translateY(0);}
}



/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  .visual{
    height: 80vh;
    figure{
      width: 100vw;
      height: 70vw;
      margin: 20vh auto 5vh;
      img{
        width: 100%;
      }
    }
    .textBox{
      top: 30vw;
    }
  }
} 

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  .visual{
    height: 80vh;
    figure{
      width: 100vw;
      height: 70vw;
      margin: 20vh auto 5vh;
      img{
        width: 100%;
      }
    }
    .textBox{
      top: 32vw;
      p{
        font-size: 1.5em;
      }
    }
  }
} 

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  .visual{
    height: 70vh;
    figure{
      width: 100vw;
      height: 90vw;
      margin: 20vh auto 5vh;
      img{
        width: 120%;
      }
    }
    .textBox{
      top: 40vw;
      p{
        padding: 0.6em 0;
        font-size: 1.3em;
      }
    }
  }
}