.scroll{
  position: absolute;
  right: 50%; bottom: 30vh;
  .arrow{
    position: relative;
    span{
      position: absolute;
      left: 0;
      width: 50px; height: 50px;
      display: block;
      transform: rotate(-45deg);
      border-left: 3px solid white;
      border-bottom: 3px solid white;
      animation: arrowAni 1s infinite linear;
    }
    span:nth-of-type(1){
      top: 0;
      animation-delay: .2s;
    }
    span:nth-of-type(2){
      top: 10px;
      animation-delay: .1s;
    }
    span:nth-of-type(3){
      top: 20px;
    }
  }
}

@keyframes arrowAni {
  0%{transform: rotate(-45deg) translate(0); opacity: 0;}
  90%{transform: rotate(-45deg) translate(-20px, 20px); opacity: 1;}
  100%{transform: rotate(-45deg) translate(-20px, 20px); opacity: 0;}
}



/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  .scroll{
    bottom: 20vh;
  }
} 

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  .scroll{
    bottom: 20vh;
    right: 52%;
    .arrow{
      span{
        width: 30px; height: 30px;
      }
    }
  }
} 

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  .scroll{
    bottom: 20vh;
    right: 52%;
    .arrow{
      span{
        width: 30px; height: 30px;
      }
    }
  }
}