@import '../_common.scss';

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h2{
    @include title;
  }
  ul{
    width: 40%;
    li{
      width: 100%;
      figure{
        width: 40vw; height: 28vw;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        img{
          min-width: 100%;
          min-height: 100%;
        }
      }
      p{
        @include description;
      }
      p:nth-of-type(1){
        font-size: 1.5em;
        margin: 3vw 0 2vw;
      }
      p:nth-of-type(2){
        font-size: 1.5em;
        margin-bottom: 5vw;
      }
    }
  }
}



/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  .container{
    height: 70vh;
    ul{
      width: 60%;
      li{
        width: 100%;
        figure{
          width: 60vw; height: 45vw;
          margin: 0 auto;
          border-radius: 50%;
          overflow: hidden;
          img{
            min-width: 100%;
            min-height: 100%;
          }
        }
        p{
          @include description;
        }
        p:nth-of-type(1){
          font-size: 1.5em;
          margin: 7vw 0 5vw;
        }
        p:nth-of-type(2){
          font-size: 1.5em;
          margin-bottom: 10vw;
        }
      }
    }
  }
} 

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  .container{
    height: 80vh;
    h2{
      @include titleTablet;
    }
    ul{
      width: 60%;
      li{
        width: 100%;
        figure{
          width: 60vw; height: 45vw;
          margin: 0 auto;
          border-radius: 50%;
          overflow: hidden;
          img{
            min-width: 100%;
            min-height: 100%;
          }
        }
        p{
          @include description;
        }
        p:nth-of-type(1){
          font-size: 1.2em;
          margin: 7vw 0 5vw;
        }
        p:nth-of-type(2){
          font-size: 1em;
          margin-bottom: 10vw;
        }
      }
    }
  }
} 

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  .container{
    height: 60vh;
    h2{
      @include titleTablet;
    }
    ul{
      width: 70%;
      li{
        width: 100%;
        figure{
          width: 70vw; height: 50vw;
          margin: 0 auto;
          border-radius: 50%;
          overflow: hidden;
          img{
            max-width: 100%;
            max-height: 100%;
          }
        }
        p{
          @include description;
        }
        p:nth-of-type(1){
          font-size: 1.2em;
          margin: 15vw 0 10vw;
        }
        p:nth-of-type(2){
          font-size: 1em;
          margin-bottom: 10vw;
        }
      }
    }
  }
}