*{box-sizing: border-box;}
a{text-decoration: none;}


////////// font

.material-icons-outlined{
  font-family: 'Material Icons';
}
$logo: 'Kaushan Script', cursive;
$serif: 'Noto Serif Display', serif;
$nanum: 'Nanum Gothic', sans-serif;