@import './_common.scss';

body{
  background-image: url('./bg.jpg');
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
}


///////// Header

header{
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  padding: 3em 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  h1{
    position: relative;
    img{
      width: 12em;
    }
  }
  nav{
    position: relative;
    .burger{
      padding: 15px 20px;
      border-radius: 15px;
      background-color: transparent;
      border: none;
      font-size: 2.2vw;
      color: white;
      font-family: $serif;
      font-style: italic;
      text-shadow: 3px 3px 5px rgba(155,155,155,0.5);
      cursor: pointer;
    }
    .navigation{
      position: absolute;
      right: 0; top: 6em;
      width: 200%;
      transition: 2s;
      a{
        display: block;
        padding: 10px 0 30px;
        font-size: 1.2vw;
        font-family: $serif;
        color: white;
        text-shadow: 3px 3px 5px rgba(155,155,155,0.5);
        text-align: right;
        b{font-style: italic;}
      }
    }
    .navigation.hide{
      opacity: 0;
      transform: translateY(-20%) scaleY(0);
    }
  }
}


///////// Footer

footer{
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}


/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
  header{
    nav{
      .burger{
        font-size: 2em;
      }
      .navigation{
        a{
          font-size: 1.4em;
        }
      }
    }
  }
} 

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  header{
    h1{
      position: relative;
      img{
        width: 8em;
      }
    }
    nav{
      .burger{
        font-size: 1.7em;
      }
      .navigation{
        pointer-events: auto;
        a{
          font-size: 1.3em;
          padding: 10px 0;
        }
      }
      .navigation.hide{
        pointer-events: none;
      }
    }
  }
} 

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  header{
    h1{
      position: relative;
      img{
        width: 8em;
      }
    }
    nav{
      .burger{
        font-size: 1.7em;
      }
      .navigation{
        pointer-events: auto;
        top: 4em;
        a{
          font-size: 1.3em;
          padding: 10px 0;
        }
      }
      .navigation.hide{
        pointer-events: none;
      }
    }
  }
}
