@import './_common.scss';

body{
  background-image: url('./bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


///////// Header

header{
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  padding: 3em 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1{
    position: relative;
    img{
      width: 50px;
    }
    b{
      position: absolute;
      left: 0; top: 0;
      font-family: $logo;
      span{
        position: absolute;
        text-shadow: 3px 3px 5px rgba(155,155,155,0.5);
      }
      .logo1{
        left: 45px; top: 10px;
        font-size: 2em;
        color: #fff;
        transform: rotate(2deg);
      }
      .logo2{
        left: 115px; top: 10px;
        font-size: 1.5em;
        transform: rotate(10deg);
        color: rgb(91, 99, 122);
      }
    }
  }
  nav{
    position: relative;
    .burger{
      padding: 15px 20px;
      border-radius: 15px;
      background-color: transparent;
      border: none;
      font-size: 1.5em;
      font-weight: 300;
      color: white;
      font-family: sans-serif;
      text-shadow: 3px 3px 5px rgba(155,155,155,0.5);
      cursor: pointer;
      z-index: 11;
    }
    .navigation{
      position: absolute;
      left: -2em; top: 4em;
      width: 120%;
      transition: 1s;
      a{
        display: block;
        padding: 10px;
        font-size: 1.2em;
        color: white;
        text-decoration: none;
        text-shadow: 3px 3px 5px rgba(155,155,155,0.5);
      }
    }
    .navigation.hide{
      opacity: 0;
      transform: translateY(-150%) scaleY(-50%);
    }
  }
}


///////// Footer

footer{
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}